@import "avatar.css";

:root {
  --accent-color: #FF0099;
  --error-color: #ff502d;

  --selection-text-color: white;
  --selection-background-color: #5FFAFF;
  --selection-badge-text-color: var(--badge-background-color);
  --selection-badge-background-color: var(--badge-text-color);

  --default-box-shadow: 0 0 5px 0 #0005;
  --timetable-box-shadow: var(--default-box-shadow);
  --timetable-card-box-shadow: var(--default-box-shadow);

  --timetable-background-color: #FFD4EE;
  --timetable-card-background-color: white;
  --timetable-card-time-color: #777;

  --badge-background-color: var(--accent-color);
  --badge-text-color: white;

  --scrollbar-color: var(--accent-color);

  --mode-selection-button-background-color: white;
  --mode-selection-button-hover-background-color: #0001;
  --mode-selection-button-checked-background-color: var(--accent-color);
  --mode-selection-button-checked-text-color: white;

  --logo-color: var(--accent-color);

  --cursor-default: url("cursor/default/kate-default.svg") 3 3, auto;
  --cursor-pointer: url("cursor/pointer/kate-pointer.svg") 3 20, auto;
}

.admin-nav__account-info::before {
  position: absolute;
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  background-image: var(--avatar);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
}

.header__account-info {
  position: relative;
}

.header__account-info::before {
  position: absolute;
  content: '';
  display: block;
  right: 24px;
  width: 36px;
  height: 36px;
  background-image: var(--avatar);
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  border: 1px solid var(--accent-color);
}

.preloader {
  fill: var(--accent-color);
}

#calendar.wait, #calendar.wait * {
  animation: 1s infinite linear WaitCursor;
}

@keyframes WaitCursor {
  0% {
    cursor: url("cursor/wait/kate-wait-cursor_1.png") 16 16, auto;
  }
  7.7% {
    cursor: url("cursor/wait/kate-wait-cursor_2.png") 16 16, auto;
  }
  15.4% {
    cursor: url("cursor/wait/kate-wait-cursor_3.png") 16 16, auto;
  }
  23% {
    cursor: url("cursor/wait/kate-wait-cursor_4.png") 16 16, auto;
  }
  30.8% {
    cursor: url("cursor/wait/kate-wait-cursor_5.png") 16 16, auto;
  }
  38.5% {
    cursor: url("cursor/wait/kate-wait-cursor_6.png") 16 16, auto;
  }
  46.2% {
    cursor: url("cursor/wait/kate-wait-cursor_7.png") 16 16, auto;
  }
  53.8% {
    cursor: url("cursor/wait/kate-wait-cursor_8.png") 16 16, auto;
  }
  61.5% {
    cursor: url("cursor/wait/kate-wait-cursor_9.png") 16 16, auto;
  }
  69.2% {
    cursor: url("cursor/wait/kate-wait-cursor_10.png") 16 16, auto;
  }
  76.9% {
    cursor: url("cursor/wait/kate-wait-cursor_11.png") 16 16, auto;
  }
  84.6% {
    cursor: url("cursor/wait/kate-wait-cursor_12.png") 16 16, auto;
  }
  92.3% {
    cursor: url("cursor/wait/kate-wait-cursor_13.png") 16 16, auto;
  }
  100% {
    cursor: url("cursor/wait/kate-wait-cursor_14.png") 16 16, auto;
  }
}