.admin-nav__element_active::before {
  background-color: var(--accent-color);
}

.admin-nav {
  background-color: var(--timetable-background-color);
}

.admin-nav__element {
  background-color: var(--timetable-background-color);
}

.admin-nav__element:hover {
  background-color: var(--timetable-background-color);
  filter: brightness(95%);
}

.institute-logo {
  fill: var(--logo-color);
}

.admin-nav {
  margin-block: 15px;
  border-radius: 0 10px 10px 0;
  box-shadow: var(--default-box-shadow);
  border: none;
  transition: max-height 0.5s;
  width: max-content;
  min-width: 300px;
}

.admin-nav-menu {
  background-color: var(--timetable-background-color);
  gap: 10px;
  overflow: unset;
  padding: 10px;
  box-sizing: border-box;
}

.admin-nav__element {
  border-radius: 10px;
}

.admin-nav__element_active {
  background-color: var(--mode-selection-button-checked-background-color);
  color: var(--mode-selection-button-checked-text-color) !important;
}

.admin-nav__element_active:hover {
  background-color: var(--mode-selection-button-checked-background-color);
  filter: brightness(90%);
}

.admin-nav__element::before {
  display: none;
}

.admin-nav__title {
  font-family: var(--font), sans-serif !important;
  line-height: 45px;
  padding-inline: 26px;
}

.calendar {
  border: none;
}

.header {
  margin-inline: 15px;
  border: none;
  box-shadow: var(--default-box-shadow);
  width: auto;
  border-radius: 0 0 10px 10px;
}

@media screen and (max-width: 965px) {
  .admin-nav {
    max-width: none;
    display: block;
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    width: auto;
    margin: 15px;
    border-radius: 10px;
  }
  .admin-nav-close {
    max-height: 0;
  }
  .admin-nav-active {
    max-height: 300px;
  }
}