@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --header-height: 50px;
  --scrollbar-width: 12px;
  --toast-height: 50px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  min-height: 100vh;
  background-color: white;
}

.timetable {
  --timetable-margin-block: 20px;
  box-sizing: border-box;
  width: min-content;
  margin: var(--timetable-margin-block) auto;
  box-shadow: var(--timetable-box-shadow);
  border-radius: 10px;
  padding: 1px;
  background-color: var(--timetable-background-color);
  overflow-y: scroll;
  height: calc(
          100vh - var(--header-height) * 2 - var(--timetable-margin-block) * 3
  );
}

::selection {
  color: var(--selection-text-color);
  background-color: var(--selection-background-color);
}

@media screen and (min-width: 1200px) {
  .timetable {
    display: flex;
    flex-direction: row;
    width: min-content;
    max-width: calc(100vw - 280px - 30px - 40px);
    margin: var(--timetable-margin-block) auto;
  }
}

.timetable-day {
  width: 500px;
  max-width: 500px;
  min-width: 500px;
}

.timetable-day__title {
  text-align: center;
  margin-block-start: 20px;
  font-size: 20px;
}

.timetable-card {
  text-align: start;
  margin: 15px calc(15px - var(--scrollbar-width)) 15px 15px;
  box-shadow: var(--timetable-card-box-shadow);
  border-radius: 10px;
  padding: 15px;
  width: auto;
  background-color: var(--timetable-card-background-color);
  min-height: 132px;
  box-sizing: border-box;
}

.timetable-card__functional-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.timetable-card__title {
  font-size: 20px;
  height: 50px;
}

.timetable-card__time {
  font-size: 15px;
  color: var(--timetable-card-time-color);
  text-align: end;
  margin-block-end: 15px;
}

.timetable-card__teacher {
  font-size: 15px;
}

.timetable-card__type {
  margin-inline-start: 20px;
}

.timetable-card__type:empty,
.timetable-card__location:empty {
  display: none;
}

.timetable-card__location::selection,
.timetable-card__type::selection,
.export-calendar-button::selection,
.mode-selection label.mode-selection__button:has(input:checked)::selection {
  color: var(--selection-badge-text-color);
  background-color: var(--selection-badge-background-color);
}

.badge {
  font-size: 10px;
  border-radius: 20px;
  padding: 3px 10px;
  height: min-content;
  background-color: var(--badge-background-color);
  color: var(--badge-text-color);
  font-weight: bold;
  min-width: 60px;
  text-align: center;
}

.badge::selection {
  color: var(--selection-badge-text-color);
  background-color: var(--selection-badge-background-color);
}

::-webkit-scrollbar {
  width: var(--scrollbar-width);
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 6px;
  border: 2px solid var(--timetable-background-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color);
  filter: brightness(90%);
}

::-webkit-scrollbar-corner {
  background: var(--scrollbar-color);
  border-radius: 50%;
  border: 2px solid var(--timetable-background-color);
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-color) transparent;
  }
}

.toast {
  position: fixed;
  height: var(--toast-height);
  bottom: calc(-1 * var(--toast-height));
  left: 0;
  width: 100vw;
  animation: toastAnimation 4s normal ease-in-out;
}

.toast::before {
  height: 100%;
  content: attr(data-content);
  display: block;
  border-radius: 10px;
  margin: 0 auto;
  color: white;
  padding: 0 15px;
  line-height: var(--toast-height);
  background-color: var(--error-color);
  width: calc(100% - 200px);
  max-width: 700px;
  min-width: 500px;
  text-align: center;
}

@keyframes toastAnimation {
  0% {
    bottom: calc(-1 * var(--toast-height));
  }
  20% {
    bottom: 0;
  }
  80% {
    bottom: 0;
  }
  100% {
    bottom: calc(-1 * var(--toast-height));
  }
}

.mode-selection {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  width: min-content;
  box-shadow: var(--default-box-shadow);
  overflow: hidden;
  border-radius: 10px;
}

.mode-selection input {
  display: none;
}

.mode-selection label.mode-selection__button {
  text-align: center;
  padding: 7px 15px;
  margin: 5px;
  background-color: var(--mode-selection-button-background-color);
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.mode-selection label.mode-selection__button:hover:not(:has(input:checked)) {
  background-color: var(--mode-selection-button-hover-background-color);
}

.mode-selection label.mode-selection__button:has(input:checked) {
  background-color: var(--mode-selection-button-checked-background-color);
  color: var(--mode-selection-button-checked-text-color);
  font-weight: 600;
}

.mode-selection__arrow-button {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
}

.mode-selection__arrow-button:hover {
  background-color: var(--mode-selection-button-hover-background-color);
}

.mode-selection__arrow-button:active {
  background-color: var(--mode-selection-button-hover-background-color);
  filter: brightness(95%);
}

.mode-selection__arrow-button svg {
  fill: black;
}

.mode-selection__previous-button:not(
    :has(
        ~ label.mode-selection__button input:checked[value="tomorrow"]
    )
),
.mode-selection__previous-button:not(
    :has(
        ~ label.mode-selection__button input:checked[value="tomorrow"]
    )
) ~ .mode-selection__next-button {
  display: flex;
}

#export-calendar-button {
  display: none;
}

.export-calendar-button {
  background-color: var(--badge-background-color);
  color: var(--badge-text-color);
  padding: 3px 15px 3px 10px;
  font-weight: bold;
  outline: none;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.export-calendar-button:hover {
  background-color: var(--accent-color);
  filter: brightness(90%);
}

.export-calendar-button svg {
  vertical-align: middle;
  margin: 0 10px 0 0;
}